@{
    ViewData["Title"] = "Inicio";
}

<h3 class="text-success">
    @ViewBag.Message
</h3>

<form asp-action="Upload" asp-controller="Home"
class="form" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label class="form-label">Descripcion: </label>
        <input type="text" class="form-control" name="description" autocomplete="off"/>
    </div>

    <div class="mb-3">
        <label class="form-label">Documento: </label>
        <input type="file" class="form-control" name="file"/>
    </div>

    <button class="btn btn-success col-6 offset-3">
        Guardar
    </button>
</form>