@model string

@{
    ViewData["Title"] = "Not Found";
}

<h3>No encontrado</h3>

<p>
    El recurso que buscas no fue encontrado. 
    <a asp-action="Index" asp-controller="Home">Click aquí</a> para regresar
</p>